<!DOCTYPE html>
<html lang="en" ng-app="TestApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>THE MEAN STACK</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
</head>
<body ng-controller="MainController as vm">
    <ul>
        <li ng-repeat="person in vm.people">{{ person.name }}</li>
    </ul>
    <script>
        const clientPeople = <%- JSON.stringify(serverPeople) %>;
    </script>
    <script src="/assets/js/app.js"></script>
</body>
</html>